body{
    font-family: Helvetica;
    margin: 0;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
    color: white;
    width: -webkit-fill-available;
    background-color: rgb(57, 57, 57);
}

.inicio{
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Banner.avif);
    box-shadow: inset 0 550px rgba(0, 0, 0, 0.3);
}

.inicioTexto{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicioTopText{
    color: white;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 6px;
}

.inicioBotText{
    color: white;
    margin-top: 50px;
    width: 70%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.caracteristicas{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    text-align: center;
}

.caracteristicasTitulo{
    padding: 40px 0px;
    font-size: 29px;
    letter-spacing: 18px;
    font-weight: 600;
    width: 100%;
    box-shadow: 0px 0px 53px inset #888888;
}

.mainCar{
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    background-color:rgb(57 57 57);
    padding: 60px 170px;
}

.mainCarBox{
    width: 25%;
    background: linear-gradient(to right, #ff3c32, #ff8249);
    padding: 0 18px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 21px black;
    transition: transform 0.3s ease;
    cursor:default;
}

.mainCarBox:hover {
    transform: translateY(-3px);
  }

.mainCarTitulo{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0px;
    height: 10%;
}

.mainCarDescripcion{
    font-size: 17px;
}

.precio{
    height: 520px;
    background-image: url(precio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 100px 0 100px 93px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.precioTitle{
    margin-left: 110px;
    color: white;
    font-size: 47px;
    letter-spacing: 7px;

}

footer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(57, 57, 57);
    color: white;
    font-size: 19px;
}

a{
    text-decoration: none;
    color: white;
}
